.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;

  a {
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}

.car {
  text-align: right;
  margin-right: 10px;

  strong {
    display: block;
    color: #fff;
  }
}
