.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;

  a {
    transition: opacity 0.2s;

    > img {
      max-width: 276px;
      width: 100%;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}

.cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;

  div {
    text-align: right;
    margin-right: 10px;

    @media (max-width: 480px) {
      display: none;
    }

    strong {
      display: block;
      color: #fff;
    }

    span {
      font-size: 12px;
      color: #999;
    }
  }
}
